{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="body-content">
  <div class="row">
    <div class="col-md-12">
      <h1>Update Course</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">

    <form class="form" role="form" method="post" action="">

      {{ form.csrf_token }}
      {{ form.hidden_tag() }}
      {{ wtf.form_errors(form, hiddens="only") }}

      <div>

        {{ wtf.form_field(form.name, value=single_course.name) }}
        <label class="control-label" for="description">Course Description</label>
        <textarea class="form-control" id="description" name="description" required>{{ single_course.description }}</textarea>
        {{ wtf.form_field(form.subject, value=single_course.subject) }}
        {{ wtf.form_field(form.start_date, type="date", value=single_course.start_date.strftime('%Y-%m-%d')) }}
        {{ wtf.form_field(form.end_date, type="date", value=single_course.end_date.strftime('%Y-%m-%d')) }}

        <button class="btn btn-success" type="submit">Update Course!</button>

      </div>

    </form>

    </div>
  </div>
</div>

{% endblock %}
