{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="body-content">
  <div class="row">
    <div class="col-md-12">
      <h1>Add Course</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    {% if form %}
      <form class="form" role="form" method="post" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <div>
          {{ wtf.form_field(form.courses) }}
          <button class="btn btn-success" type="submit">Add Course!</button>
        </div>
      </form>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
